.vscode/extensions/.f8c9cf4c-dc8d-4646-bcbc-c8da3976526d/pythonFiles/lib/python/debugpy/_vendored/pydevd/_pydevd_frame_eval/pydevd_frame_evaluator.cp39-win32.pyd
.vscode/extensions/.f8c9cf4c-dc8d-4646-bcbc-c8da3976526d/pythonFiles/lib/python/debugpy/_vendored/pydevd/_pydevd_frame_eval/pydevd_frame_evaluator.cpython-39-darwin.so
